# Optimised SQL Queries: Flights Database
Â© Explore Data Science Academy

## The flights database

Optimised queries are vital for increasing database performance, saving resources and reducing network overhead. In this challenge we will be  using actual US flights data to illustrate the use of optimisation techniques with large amounts of data. This database consists of information relating to flights, carriers, airports and planes. 

<img src="https://github.com/Explore-AI/Pictures/blob/master/Flights.jpg?raw=true" width=50%/> 


Below is an Entity Relationship Diagram (ERD) of the flights database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/flights_ER_diagram.png?raw=true" width=40%/>

As can be seen from the ERD, the flights database consists of four tables:
- **flights**: all domestic flights in the USA in 2008
- **carriers**: lookup table for all the carriers
- **planes**: lookup table for all the planes 
- **airports**: lookup table for all the airports

For this challenge you will apply the use of optimised SQL queries to gain insight into the flights database.

## Loading the database

Before you start producing optimised SQL queries, you need to prepare your SQL environment. You can do this by loading in the magic command `%load_ext sql` as we've seen in previous trains. Next you can go ahead and load in your database. To do this you will need to ensure you have downloaded the `flight.db`sqlite file from Athena and have stored it in a known location.

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///flights.db

## Exploring the database 

Before we begin this challenge we can go ahead and take a look at the composition of each table in the flights database

In [3]:
%%sql 

PRAGMA table_info(flights);

 * sqlite:///flights.db
Done.

[(0, 'index', 'integer', 0, 'NULL', 0),
 (1, 'Date', 'longtext', 0, None, 0),
 (2, 'DayOfWeek', 'integer', 0, 'NULL', 0),
 (3, 'DepTime', 'double', 0, 'NULL', 0),
 (4, 'CRSDepTime', 'longtext', 0, None, 0),
 (5, 'ArrTime', 'double', 0, 'NULL', 0),
 (6, 'CRSArrTime', 'longtext', 0, None, 0),
 (7, 'UniqueCarrier', 'longtext', 0, None, 0),
 (8, 'FlightNum', 'longtext', 0, None, 0),
 (9, 'TailNum', 'longtext', 0, None, 0),
 (10, 'ActualElapsedTime', 'double', 0, 'NULL', 0),
 (11, 'CRSElapsedTime', 'longtext', 0, None, 0),
 (12, 'AirTime', 'longtext', 0, None, 0),
 (13, 'ArrDelay', 'double', 0, 'NULL', 0),
 (14, 'DepDelay', 'double', 0, 'NULL', 0),
 (15, 'Origin', 'longtext', 0, None, 0),
 (16, 'Dest', 'longtext', 0, None, 0),
 (17, 'Distance', 'integer', 0, 'NULL', 0),
 (18, 'TaxiIn', 'longtext', 0, None, 0),
 (19, 'TaxiOut', 'longtext', 0, None, 0),
 (20, 'Cancelled', 'longtext', 0, None, 0),
 (21, 'CancellationCode', 'longtext', 0, None, 0),
 (22, 'Diverted', 'longtext', 0, None, 0),
 (23, 'CarrierDelay', 'longtext', 0, None, 0),
 (24, 'WeatherDelay', 'longtext', 0, None, 0),
 (25, 'NASDelay', 'longtext', 0, None, 0),
 (26, 'SecurityDelay', 'longtext', 0, None, 0),
 (27, 'LateAircraftDelay', 'longtext', 0, None, 0)]

In [4]:
%%sql 

PRAGMA table_info(carriers);

 * sqlite:///flights.db
Done.

[(0, 'Code', 'varchar(10)', 0, 'NULL', 0),
 (1, 'Description', 'varchar(100)', 0, 'NULL', 0)]

In [5]:
%%sql 

PRAGMA table_info(airports);

 * sqlite:///flights.db
Done.

[(0, 'iata', 'varchar(10)', 0, 'NULL', 0),
 (1, 'airport', 'varchar(100)', 0, 'NULL', 0),
 (2, 'city', 'varchar(100)', 0, 'NULL', 0),
 (3, 'state', 'varchar(50)', 0, 'NULL', 0),
 (4, 'country', 'varchar(50)', 0, 'NULL', 0),
 (5, 'lat', 'float(24,0)', 0, 'NULL', 0),
 (6, 'long', 'float(24,0)', 0, 'NULL', 0)]

In [6]:
%%sql 

PRAGMA table_info(planes);

 * sqlite:///flights.db
Done.

[(0, 'tailnum', 'varchar(10)', 0, 'NULL', 0),
 (1, 'type', 'varchar(100)', 0, 'NULL', 0),
 (2, 'manufacturer', 'varchar(100)', 0, 'NULL', 0),
 (3, 'issue_date', 'varchar(100)', 0, 'NULL', 0),
 (4, 'model', 'varchar(50)', 0, 'NULL', 0),
 (5, 'status', 'varchar(100)', 0, 'NULL', 0),
 (6, 'aircraft_type', 'varchar(100)', 0, 'NULL', 0),
 (7, 'engine_type', 'varchar(100)', 0, 'NULL', 0),
 (8, 'year', 'longtext', 0, None, 0)]

## Questions on Optimised SQL Queries 

Now that you have an idea of what information each table contains, you can use the given cell below each question to execute your optimised SQL queries to find the correct output from the options provided for the multiple choice questions on Athena.

**Question 1**

How many different carriers are there in total in the database?

**Options:**
- 1 252
- 1491
- 20
- 37

In [40]:
%%sql

SELECT COUNT(DISTINCT Description)
FROM carriers

 * sqlite:///flights.db
Done.

[(1491,)]

**Question 2** 

How long was the longest delay before departure? 

**Options:**
- 1355 min
- 999 min
- 1099 min
- 588 min

In [26]:
%%sql 

select max(DepDelay)
from flights

 * sqlite:///flights.db
Done.

[(1355.0,)]

**Question 3** 

How many flights departed on the 28th of January 2008?

**Options:**
- 540 908
- 20 149
- 19 495
- 18 056

In [41]:
%%sql

SELECT COUNT(DepTime)
FROM flights
WHERE Date ='2008/1/28'

 * sqlite:///flights.db
Done.

[(19495,)]

**Question 4**
 
 What is the distance between Midway Airport (MDW) and Houston Airport (HOU)?
 
 **Options:**
 - 611 km
 - 972 km
 - 1 121 km
 - 937 km

In [43]:
%%sql

SELECT Distance
FROM flights
WHERE (Origin = "HOU" AND Dest = "MDW")
OR (Origin = "MDW" AND Dest = "HOU")

 * sqlite:///flights.db
Done.

[(937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,),
 (937,)]

**Question 5**

Which day of the week had the highest number of cancelled flights?(Note 1 = cancelled , 0 = not cancelled;)


**Options:**
- Monday(1)
- Wednesday(3) 
- Saturday(6) 
- Thursday (4)

In [49]:
%%sql 

WITH CTE AS
(SELECT DayOfWeek AS 'Day', COUNT(Cancelled) AS 'No_of_Cancelled_Flights'
FROM flights
WHERE Cancelled = 1  
GROUP BY DayOfWeek)

SELECT Day, MAX(No_of_Cancelled_Flights)
FROM CTE

 * sqlite:///flights.db
Done.

[(4, 3093)]

**Question 6**

How many airports have the word "International" in their name?

**Options:**
- 110
- 124
- 8
- 2

In [51]:
%%sql

SELECT COUNT(DISTINCT airport)
FROM airports
WHERE airport LIKE '%International%'

 * sqlite:///flights.db
Done.

[(124,)]

**Question 7**

What is the most produced model for the manufacturer "BOEING"?

**Options:**
- 717-200
- 737-7H4
- 757-222
- 737-3H4

In [53]:
%%sql 

WITH CTE AS
(SELECT model, COUNT(model) AS m
FROM planes 
WHERE manufacturer = 'BOEING'
GROUP BY model)

SELECT model, MAX(m) AS 'Most_Produced_BOEING_Model'
FROM CTE

 * sqlite:///flights.db
Done.

[('737-7H4', 308)]

**Question 8**

What manufacturer had the highest average delay time (DepDelay + ArrDelay)? 

**Options:**
- PAIR MIKE E
- AERONCA
- AVIAT AIRCRAFT INC
- BOEING OF CANADA LTD

In [54]:
%%sql

WITH CTE AS (
SELECT p.manufacturer, AVG(f.DepDelay + f.ArrDelay) AS 'Average_Delay_Time'
FROM flights AS f
INNER JOIN planes AS p
ON f.TailNum = p.TailNum
)

SELECT manufacturer, MAX(Average_Delay_Time)
FROM CTE

 * sqlite:///flights.db
Done.

[('BOEING', 21.458663822908875)]

**Question 9**

How many planes landed at Los Angeles International Airport? 

**Options:**
- 215 608
- 18 964
- 41 258
- 39 422

In [56]:
%%sql 

SELECT a.airport, COUNT(f.Dest)
FROM flights f
INNER JOIN airports a
ON f.Dest = a.iata
WHERE airport = "Los Angeles International"

 * sqlite:///flights.db
Done.

[('Los Angeles International', 18964)]

**Question 10**

Which domestic carrier had the best on-time performance (OTP), where OTP is defined as the rate of on time flights with a 15min buffer on departure and arrival?

**Options:**
- American Airlines Inc
- Hawaiian Airlines Inc
- Comair Inc
- Aloha Airlines Inc

In [60]:
%%sql

WITH CTE AS (
SELECT c.code, c.description, COUNT(c.code) AS 'No_of_Carrier'
FROM flights AS f
INNER JOIN carriers AS c
ON c.code = f.UniqueCarrier
GROUP BY c.code
)

SELECT description, ((CAST(COUNT(ct.code) AS REAL) / CAST(ct.No_of_Carrier AS REAL))) AS OTP
FROM flights AS f
INNER JOIN CTE AS ct
ON f.UniqueCarrier = ct.code
WHERE ArrDelay < 15 
AND DepDelay < 15
GROUP BY ct.code
ORDER BY OTP DESC

 * sqlite:///flights.db
Done.

[('Hawaiian Airlines Inc.\r', 0.9375935028852319),
 ('Aloha Airlines Inc.\r', 0.920059582919563),
 ('AirTran Airways Corporation\r', 0.7586627028607632),
 ('US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.)\r', 0.7581196145413757),
 ('Delta Air Lines Inc.\r', 0.7562996654119615),
 ('Southwest Airlines Co.\r', 0.7308177837390035),
 ('Frontier Airlines Inc.\r', 0.7307592303692148),
 ('JetBlue Airways\r', 0.7256642548793093),
 ('Continental Air Lines Inc.\r', 0.7097747944552568),
 ('Northwest Airlines Inc.\r', 0.7022453733661188),
 ('Alaska Airlines Inc.\r', 0.6974624872338754),
 ('Expressjet Airlines Inc.\r', 0.6960180272690969),
 ('Comair Inc.\r', 0.6892834155760567),
 ('Mesa Airlines Inc.\r', 0.6664410450791932),
 ('Pinnacle Airlines Inc.\r', 0.6638217787114846),
 ('Atlantic Southeast Airlines\r', 0.6628163530175211),
 ('Skywest Airlines Inc.\r', 0.6353078053559765),
 ('American Eagle Airlines Inc.\r', 0.6299074883785152),
 ('American Airlines Inc.\r', 0.6244419004006869),
 ('United Air Lines Inc.\r', 0.5814968705622469)]